<div class="container">
    <div class="contact-box">
        <div class="left"></div>
        <div class="right">
            <form #card="ngForm" (ngSubmit)="onSubmit(card.value)">
            <h2>Add a City</h2>
            <input type="text" class="field" placeholder="Name"  name="title"  ngModel required> <!-- [(ngModel)] = "card.title"-->
            <textarea placeholder="Description" class="field" name="desc" ngModel required>
                
            </textarea> <!-- [(ngModel)] = "card.description"-->  
            <input class="file" type="file"  accept="image/*" name="image"
            
            (change)="onFileChanged($event)"><!--[(ngModel)] = "card.image"-->
            <button class="btn"  type ="submit">Send</button>
        </form>
        </div>
    </div>
</div>