<div class="container">
<div class="profile-container">
    <div class="img-container">
        <img src="/../../assets/images/avatar1.png"  alt="profile image">
    </div>
    <p class="info full-name">Hasnaa OUBOUH</p>
    <p class="info role">
      <!--  <i class="fas fa-star"></i>-->
        Let's have fun and explore new places
    </p>
    <p class="info place">
        <!--  <i class="fas fa-map-marker-alt"></i>-->
           Casablanca, Morocco
    </p>


</div>

</div>





<div class="container">
    <div class="profile-container">
        <div class="img-container">
            <img src="/../../assets/images/avatar1.png"  alt="profile image">
        </div>
        <p class="info full-name">John Doe</p>
        <p class="info role">
          <!--  <i class="fas fa-star"></i>-->
          My happiness is making you stisfied
        </p>
        <p class="info place">
            <!--  <i class="fas fa-map-marker-alt"></i>-->
               Rabat, Morocco
        </p>
    
       
    
    
    </div>
    
    </div>