<div  id="container">

    <div id="card-container"  > <!--[@listAnimation]="items.length"-->

 
    
        <div id="list" >  <!--*ngFor="let item of items"-->
         <!--{{ item }}--> 
         <app-card></app-card>
       
      

        </div>

    </div>
    <!-- <div id="card-profile-container"   [@listAnimation]="items.length"-->>
    
     
        
       <!-- <div id="list" > *ngFor="let item of items"-->
         <!--{{ item }} 
     
         <app-card-profile></app-card-profile>
    
        </div>
    </div>-->


</div>



    